<div class="intro-wrapper">
	<div class="intro">
		<div class="asterisque" back-color="{{_color}}">
		  <div class="colors"><div ng-repeat="col in colorsArray" class="{{sidesArray[$index]}}" back-color="{{col.color}}"></div></div>
		  <svg viewBox="0 0 100 100" class="icon">
			  <use xlink:href="symbols.svg#asterisque">
		  </svg>
		</div>
	  <div class="intro-text-container">
			<div class="gd">grégory<strong>dorrifourt</strong></div>
			<div class="job" text-color="{{_color}}">développeur front-end / intégrateur / UX-UI designer</div>
			<div class="paris">
				<i class="fa fa-map-marker" text-color="{{_color}}"></i> Paris et région parisienne
			</div>
	  </div>
	</div>
</div>