<div class="form-container">
  <div class="form-wrapper">
    <h2 class=" toggleSlowNow" ng-if="!lastQuestion()">Merci de répondre aux quelques questions suivantes</h2>
    <div class="hr_sep"></div>
    <form>
      <div class="toggle" ng-if="!lastQuestion()">
        <ul class="form-questions">
          <li ng-repeat="quest in form_data" class="{{currentQuestion===$index ? 'current':''}}">
            <span>
              <label for="quest{{$index}}">{{quest.question}}</label>
            </span>
            <div class="input">
              <input id="quest{{$index}}" name="quest{{$index}}" ng-model="questionnaire[$index]" type="text" ng-if="!showSelect($index)">
              <select id="quest{{$index}}" name="quest{{$index}}" ng-model="questionnaire[$index]" ng-init="0" ng-if="showSelect($index)" ng-options="answer.value as answer.label for answer in quest.answers">
              </select>
            </div>
          </li>
        </ul>
        
        <div class="form-controls">
          <button class="next toggleBtn" ng-click="lastQuestion(true) ? submitForm():nextQuestion()" ng-if="showNext()"></button>
          <div class="form-progress">
            <div class="form-progressbar"><div class="progression" style="width:{{(currentQuestion)/nbQuestions*100}}%"></div></div>
            <span>{{currentQuestion+1}}/{{nbQuestions}}</span>
          </div>
        </div>
      </div>
      <div class="form-end toggleSlow" ng-if="lastQuestion()">Merci d'avoir participé à notre enquète</div>
      <div class="hr_sep toggleSlow" ng-if="lastQuestion()"></div>
    </form>

  </div>
</div>