<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<title>Grégory Dorrifourt - Projets</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <link href='//fonts.googleapis.com/css?family=Raleway:400,200,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-app="projets" ng-controller="MainCtrl" >
	
	<div ng-show="kcOk">
		<h1><img src="/images/fav/android-icon-36x36.png"> grégory<strong>dorrifourt</strong></h1>
		<hr>
		<div class="filters">
			<input type="text" ng-model="query" class="form-control" value="" required="required" placeholder="Rechercher">
		</div>
		<hr>
		<div class="projets-liste">
			<div ng-repeat="projet in projets | orderBy:'annee' | filter:query" class="item-projet col-xs-12 col-sm-4 toggle">
				<figure back-img="{{projet.thumb}}">
					<figcaption>
						<h4>{{projet.title}}</h4>
						<p class="annee">({{projet.annee}})</p>
						<p class="work">{{projet.work}}</p>
						<p class="keywords"><em>{{projet.keywords}}</em></p>
						<a class="btn btn-default" href="{{projet.url}}" target="_blank">Voir</a>
					</figcaption>
					
				</figure>
			</div>
		</div>
	</div>
	<div class="container" ng-show="kcOk">
		<hr>
		<footer class="row">2015 - gregorydorrifourt.fr - developpeur front-end, AngularJS, jQuery/Javascript, HTML5, CSS3</footer>
	</div>
	<div class="container" ng-show="!kcOk">
		<h1><img src="/images/fav/android-icon-36x36.png"> grégory<strong>dorrifourt</strong></h1>
		<hr>
		<h3>Mes projets persos</h3>
		<hr>
		<div><a href="http://www.grandstand.fr">www.grandstand.fr</a></div>
		<div><a href="http://adf-formations.fr/">adf-formations.fr/</a></div>
		<hr>
		<footer class="row">2015 - gregorydorrifourt.fr - developpeur front-end, AngularJS, jQuery/Javascript, HTML5, CSS3</footer>
	</div>
	<script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/greensock-js/src/minified/TweenMax.min.js"></script>
    <script src="/bower_components/parallax.js/parallax.min.js"></script>
    <script src="/bower_components/svg4everybody/svg4everybody.min.js"></script>
    <script src="/bower_components/svg4everybody/svg4everybody.ie8.min.js"></script>
    <script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="/scripts/konami-js/konami.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>