<div class="about-page" back-color="{{rColor}}">
	<div class="about-page-container">
		<div class="col-xs-12 col-sm-4 me-infos" back-color="{{rColor}}">
			<div class="img-container circle border "><img src="images/me.png" alt=""></div>
			<div>
				<div><i class="fa fa-envelope"></i>g.dorrifourt@gmail.com</div>
				<div><i class="fa fa-mobile"></i>+33 (0) 6 99 34 45 65</div>
				<div><i class="fa fa-map-marker"></i>Chelles (77500)</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8 me-text">
			<p class="name" text-color="{{rColor}}">Grégory<strong>Dorrifourt</strong></p>
			<p class="lg">{{getAge()}} ans <span text-color="{{rColor}}">•</span> BAC+2 <span text-color="{{rColor}}">•</span> {{getExp()}} ans d'expérience</p>
			<p class="desc">Ex-développeur Flash, j'ai sû rebondir à l'abandon de la technologie au profit du développement front-end en <strong>Javascript/jQuery</strong> et plus récemment en <strong>AngularJS</strong>.</p>
			<p class="desc">Le web est un domaine en constante évolution, et tout comme lui, ses artisans se doivent de l'être, qu'ils soient développeurs, graphistes ou chefs de projets...</p>
			<p class="desc"></p>
			<!-- <p class="desc">On parle aujourd'hui d'<strong>expérience utilisateur</strong> ou encore de <strong>responsive design</strong>... le but ? Avoir la même satisfaction de l'internaute à l'utilisation d'un site web, qu'il soit sur son ordinateur personnel, sa tablette ou son smartphone.</p> -->
			<p class="desc">Motivé et passionné, c'est fort d'une expérience de <strong>{{getExp()}} ans</strong> dans le domaine que je souhaite aujourd'hui m'épanouir dans une structure qui m'en donne la possibilité.</p>
			<p class="align-center">
				<a href="mailto:g.dorrifourt@gmail.com" target="_blank" class="bouton-cv" back-color="{{rColor}}">Contactez-moi</a>
				<a href="files/CV_DETAILLE_GDORRIFOURT_2015.pdf" class="bouton-cv" back-color="{{rColor}}">Téléchargez mon CV</a>
			</p>
		</div>
		</div>
		
</div>
